@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    background-color: #fff;
    min-height: 56px;
    border-bottom: 1px solid #e0e0e0;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.hero__img {
    width: 100%;
    height: 360px;
    background-color: #bdbdbd;
}

.hero__content {
    width: 100%;
    padding: 32px 16px;
}

h1 {
    margin-bottom: 24px;
}

p {
    margin-bottom: 24px;
}

.small {
    font-size: 14px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 44px;
    margin: 8px 0px;
    padding: 16px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}

.section-2 {
    width: 100%;
    padding: 16px;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.section-2__img {
    width: 64px;
    height: 64px;
    background-color: #e0e0e0;

    border-radius: 999px;


}